<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div id="wrapper">
        <div class="container-fluid">
            <img src="/lang-logo.png" style="display: block;">
        </div>
    </div>
    <!-- Footer -->
    <% include ../partials/footer.ejs %>
</body>

</html>
