<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div class="wrapper">
    <h2>You are committing a test preview of an email using the NodeMailer transporter.</h2>
    <button type="button" class="btn btn-primary">Send Email</button>
  </div>
</body>
</html>
